* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 40px;
}

body {
    background-color: black;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}

img {
    margin-bottom: 50px;
    width: 20%;
    border-radius: 100%;
}

img:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

#info-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

#hungry-container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

#studies-conteiner {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

#button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 120px;
}

button {
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 7px;
    transition: 0.3s;
    font-size:20px;
}

button:hover {
    transform: scale(1.05);
}

#linkedinn {
    background-color: white;
}

#linkedinn:hover {
    background-color: grey;
}

#githubb {
    background-color: white;
}

#githubb:hover {
    background-color: grey;
}

i {
    color: black;
}



